<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://kit.fontawesome.com/d24ca64b2d.js" crossorigin="anonymous"></script>
    <title>notes</title>
</head>
<style>
    .stick{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow: hidden;
    }

</style>

<body>
    {% for note_item in all_items%}

    <div class="card text-center" style="width: 50%;margin: 0 auto;margin-bottom: 20px;">
        <div class="card-header" style="background:{{ note_item.color }}; background-color:{{ note_item.color }};font-weight:bold;color:black;">
            Note
        </div>
        <div class="card-body">
            <h5 class="card-title"> {{ note_item.title }}</h5>
            <p class="card-text">{{ note_item.content }}</p>
            <form action="/deletenote/{{ note_item.id }}" method="post" style="float: right;">{% csrf_token %}
                <input type="submit" value="delete"><i class="fas fa-trash-alt"></i><br>
                </input>
            </form>
        </div>
        <div class="card-footer text-muted"
            style="background:{{ note_item.color }}; background-color:{{ note_item.color }};">
        </div>
    </div>
    {% endfor  %}

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Voeg toe</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/addnote/" method="post">{% csrf_token %}
                        <label>title</label><br>

                        <input type="text" name="title" /><br>
                        <label>Content</label><br>
                        <textarea type="text" name="content"></textarea><br>
                        
                        <label>color note</label><br>

                        <select name="color">
                            <option value="red">red</option>
                            <option value="green">green</option>
                            <option value="blue">blue </option>
                            <option value="white">white</option>
                        </select>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
                </form>

            </div>
        </div>
    </div>
    <button type="button" class="btn btn-primary stick" data-toggle="modal" data-target="#exampleModal" >
        Voeg toe
    </button>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
</body>

</html>